* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    background-image: url('me.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #589A8D;
    cursor: pointer;
}

nav,
bottom {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

bottom {
    bottom: 0;
    justify-content: center;
    width: 100%;
}

bottom>a {
    width: 100%;
    height: 60px;
    background-color: #589A8D;
    border-radius: 24px;
    margin: 2em;
    margin-bottom: 4em;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

nav {
    margin: 2em;
    width: calc(100% - 4em);
}

.settings,
.profile {
    width: 60px;
    height: 60px;
}

.settings {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 3px 23px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 3px 23px -10px rgba(66, 68, 90, 1);
    box-shadow: 0px 3px 23px -10px rgba(66, 68, 90, 1);
}

.profile {
    border-radius: 50%;
    background-image: url('me.jpg');
    background-size: cover;
}

.card {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

bottom>.round-icon {
    width: 100px;
    height: 100px;
    background-color: #589A8D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5em;
    color: white;
    margin: 2em;
    margin-bottom: 4em;
}

.subcard {
    background-color: white;
    border-radius: 1.5em;
    width: 80vw;
    height: 50vh;
    animation: card-roatation 5s;
    -webkit-box-shadow: 0px 3px 23px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 3px 23px -10px rgba(66, 68, 90, 1);
    box-shadow: 0px 3px 23px 4px rgba(66, 68, 90, 1);
}

.subcard>img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
    display: block;
}

.subcard>div.img-title {
    height: 20%;
    border-radius: 0 0 1em 1em;
    background-color: #042940;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes card-roatation {
    0% {
        transform: rotate(-5deg);
        transform: scale(0.7);
    }
    20% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-2deg);
        transform: scale(1);
    }
    100% {
        transform: rotate(0deg);
    }
}

.points {
    position: absolute;
    width: calc(80vw - 2em);
    padding: 1em;
    text-align: right;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 2px gray;
}